/* line 1, SASS/_Base-Grid.scss */
.grid {
  background-color: #c8c8c8;
}

/* line 5, SASS/_Base-Grid.scss */
.vertical-grid {
  width: 2%;
  height: 100%;
  left: 48%;
}

/* line 11, SASS/_Base-Grid.scss */
.horizontal-grid {
  height: 2%;
  width: 100%;
  top: 48%;
}

/* line 1, SASS/_layout-grid.scss */
.col-12 {
  width: 100%;
}

/* line 2, SASS/_layout-grid.scss */
.col-11 {
  width: 91%;
}

/* line 3, SASS/_layout-grid.scss */
.col-10 {
  width: 83%;
}

/* line 4, SASS/_layout-grid.scss */
.col-9 {
  width: 75%;
}

/* line 5, SASS/_layout-grid.scss */
.col-8 {
  width: 66%;
}

/* line 6, SASS/_layout-grid.scss */
.col-7 {
  width: 58.3%;
}

/* line 7, SASS/_layout-grid.scss */
.col-6 {
  width: 50%;
}

/* line 8, SASS/_layout-grid.scss */
.col-5 {
  width: 42%;
}

/* line 9, SASS/_layout-grid.scss */
.col-4 {
  width: 33%;
}

/* line 10, SASS/_layout-grid.scss */
.col-3 {
  width: 25%;
}

/* line 11, SASS/_layout-grid.scss */
.col-2 {
  width: 16.6%;
}

/* line 12, SASS/_layout-grid.scss */
.col-1 {
  width: 8.3%;
}

/* line 13, SASS/_layout-grid.scss */
.float {
  float: left;
}
